:root {
  --primary-background-color: #0b0f19;
  --secondary-background-color: #1f2937;
  --primary-text-color: #ffffff;
  --secondary-text-color: #9ca3af;
  --border-color: #374151;
  --border-radius: 0.5rem;
  --accent: #0060df;
}

* {
  box-sizing: border-box;
  color: var(--primary-text-color);

  font-family: "Roboto Mono", monospace;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background-color);
}

main {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  outline: 1px solid var(--border-color);
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius);

  font-size: 1rem;

  margin: 1rem;
  margin-bottom: 0;
  width: min(15rem, calc(100% - 2rem));
}

#search-results {
  margin: 1rem;
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 350px;
  object-fit: cover;
  transition: transform 400ms ease 0s;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

.hidden img {
  opacity: 0;
  /* filter: grayscale(1) blur(100px); */
}

figure.selected > img {
  z-index: 1;
}

.image-card {
  position: relative;
  margin: 1rem;
  overflow: hidden;
  padding: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  min-height: 217.778px;
}

.maintain-aspect-ratio {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding-bottom: 128.571%;
  font-size: 90%;
}

.maintain-aspect-ratio > .info {
  bottom: 0;
  margin: 0;
  position: absolute;
  background: linear-gradient(0deg, #000000 0%, #00000080 80%, #00000000 100%);
  padding: 1rem;
  width: 100%;
  z-index: 10;
}

.maintain-aspect-ratio > nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  z-index: 10;
  position: absolute;
  background: linear-gradient(180deg, #00000080 0%, #00000000 100%);
}
svg {
  fill: var(--primary-text-color);
}

nav * {
  border-radius: var(--border-radius);
}
nav span {
  background-color: var(--secondary-background-color);
  padding: 0.5rem;
}

nav > section {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: row-reverse;
  gap: 0.5rem;
}

span.selected.version {
  background-color: var(--accent);
}

.creator {
  background-color: #ffffff30;
  padding: 0 0.5rem;
  border-radius: var(--border-radius);
  display: table-cell;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  display: none;
}

.images.show-details > .selected > figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;

  backdrop-filter: blur(5px);

  z-index: 11;
}

.details {
  text-align: center;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  position: relative;
  padding-right: 1.1rem;
  word-wrap: anywhere;
}

.details:first-child {
  margin-top: auto;
}

.details:last-child {
  margin-bottom: auto;
}

.details.accent-color {
  background-color: var(--accent);
}

.details > svg {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.2rem 0.1rem;
}

#loader {
  width: 5rem;
  height: 5rem;
  position: relative;
  margin: 0.5rem;
  margin-left: -3.5rem; /* #search-results padding-left + width / 2 */
  left: 50vw;
  border: 1rem solid var(--border-color);
  border-top-color: var(--accent);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
